body{
    box-sizing: border-box;
    background-color: rgb(118, 175, 224);
    font-family: Roboto;
}
a{
    text-decoration: none;
    color: #5d94c5;
}

#celphone{
    background-color: #f4f7fc;
    border-radius: 10px;
    width: 390px;
    height: 844px;
    border: 2px gray solid;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 20px;
}
.texts{
    font-size: 1.2rem;
    line-height: 10px;
}
.icon{
    height: 80px;
}

.imageZG{
    background-color: blue;
    height: 149px;
    width: 350px;
    background-image: url(images/zegotinha.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(116, 116, 241);
}

.ar{
    margin: 0px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options{
    flex-wrap: wrap;
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.options:last-child{
    justify-content: flex-start;
}
.conjuntos{
    flex-wrap: wrap;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.imgSet{
    background-color: #5d94c5;
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 10px;
}
.conjuntos p{
    text-align: center;
    font-size: 0.7rem;
}